body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.container {
  background: #fff;
  padding: 20px;
  margin: auto;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button, label {
  margin-top: 10px;
  padding: 10px 16px;
  font-size: 16px;
  background-color: #2c7be5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

canvas {
  margin-top: 20px;
  border: 1px solid #ccc;
}
#downloadQR {
  margin-top: 10px;
  padding: 10px 16px;
  font-size: 16px;
  background-color: #2c7be5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#downloadVCF {
  margin-top: 10px;
  padding: 10px 16px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
